.trick-list {
    overflow-y: auto;
    list-style: none;
    padding: 0;
  }
  
  .trick-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid ;
    text-align: center;
    padding: none

  }
  
  .remove-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0;
    margin-left: .5rem;
  }
  