.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

footer {
  background-color: inherit;
}